@font-face {
	font-family: 'FontAwesome';
	src: url('font/fontawesome-webfont.eot?v=3.1.0');
	src: url('font/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.1.0') format('woff'), url('font/fontawesome-webfont.ttf?v=3.1.0') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
	font-weight: normal;
	font-style: normal;
}


#top-menu li a.home:before {
	font-family: FontAwesome;
	content: "\f015 ";
}

#top-menu li a.my-page:before {
	font-family: FontAwesome;
	content: "\f0c9 ";
}

#top-menu li a.projects:before {
	font-family: FontAwesome;
	content: "\f0c2 ";
}

#top-menu li a.administration:before {
	font-family: FontAwesome;
	content: "\f11b ";
}

#top-menu li a.help:before {
	font-family: FontAwesome;
	content: "\f0e9 ";
}

#top-menu #account a.my-account:before {
	font-family: FontAwesome;
	content: "\f0f0 ";
}

#top-menu #account a.logout:before {
	font-family: FontAwesome;
	content: "\f08b ";
}


.action-settings #header h1:before
{
	font-family: FontAwesome;
	content: "\f013";
	padding-right: 5px;
}

.controller-projects.action-show #header h1:before
{
	font-family: FontAwesome;
	content: "\f132";
	padding-right: 5px;
}

.controller-activities #header h1:before
{
	font-family: FontAwesome;
	content: "\f135";
	padding-right: 5px;
}

.controller-versions #header h1:before
{
	font-family: FontAwesome;
	content: "\f018";
	padding-right: 5px;
}

.controller-issues #header h1:before
{
	font-family: FontAwesome;
	content: "\f145";
	padding-right: 5px;
}

.controller-calendars #header h1:before
{
	font-family: FontAwesome;
	content: "\f073";
	padding-right: 5px;
}

.controller-news #header h1:before
{
	font-family: FontAwesome;
	content: "\f06c";
	padding-right: 5px;
}

.controller-documents #header h1:before
{
	font-family: FontAwesome;
	content: "\f02d";
	padding-right: 5px;
}

.controller-wiki #header h1:before
{
	font-family: FontAwesome;
	content: "\f14b";
	padding-right: 5px;
}

.controller-files #header h1:before
{
	font-family: FontAwesome;
	content: "\f0b1";
	padding-right: 5px;
}

.controller-repositories #header h1:before
{
	font-family: FontAwesome;
	content: "\f074";
	padding-right: 5px;
}

.controller-gantts #header h1:before
{
	font-family: FontAwesome;
	content: "\f080";
	padding-right: 5px;
}

.controller-welcome #header h1:before
{
	font-family: FontAwesome;
	content: "\f015 ";
	padding-right: 5px;
	font-weight: 100;
}

.controller-users #header h1:before
{
	font-family: FontAwesome;
	content: "\f0f0 ";
	padding-right: 5px;
}
